/*#region GENERAL CSS*/
*{
    box-sizing: border-box;
}

div#contentContainer{
    display: flex;
    max-width: 90%;
    margin: auto;
}

section#routeSection, aside#AccuWeather{
    /* display: none; */
    display: none;
    margin: 10px;
}

body{
    background-color: chartreuse;
}

form{
    border: thick;
    border-radius: 13%;
    /* border-width: ; */
    background-color: green;
    width: 75%;
    margin: auto;
    padding: 10px;
}

table{
    max-width: 90%;
    margin: auto;
    /* border-width: 5px;
    border-color: hotpink; */
    background-color: crimson;
    color: wheat;
}

table, th, td{
    border: 1px solid coral;
}

tbody > tr{
    border: solid 2px coral;
}

tr.evenRow{
    background-color: cyan;
    color: black;
}

tr.oddRow{
    background-color: darkcyan;
    color: white;
}
/*#endregion*/

#routeSection{
    border: 3px solid blue;
    border-radius: 5%;
    max-height: 500px;
    overflow-x: auto;
}

/*#region ACCUWEATHER CSS */

#AccuWeather{
    width: 25%;
    border: 3px solid blue;
    border-radius: 5%;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#AccuWeather > *{
    border: 1px solid steelblue;
}

#AccuWeatherLogo{
    max-width: 100px;
    margin: auto;
}

#logoContainer{
    grid-column: 1 / 3;
    text-align: center;
    margin: 0;
    border: none;
}

#logoContainer > a{
    margin: auto;
    display: inline-block;
}

#weatherHeader{
    grid-column: 1 / 3;
    text-align: center;
    margin: 0;
}

#headlinesDiv{
    grid-column: 1 / 3;
}
/*#endregion*/