section#routeSection, aside#AccuWeather{
    /* display: none; */
    display: inline-block;
}

body{
    background-color: chartreuse;
}

form{
    border: thick;
    border-radius: 13%;
    /* border-width: ; */
    background-color: green;
    max-width: 80%;
    margin: auto;
    padding: 10px;
}

table{
    max-width: 90%;
    margin: auto;
    /* border-width: 5px;
    border-color: hotpink; */
    background-color: crimson;
    color: wheat;
}

table, th, td{
    border: 1px solid coral;
}

tbody > tr{
    border: solid 2px coral;
}

tr.evenRow{
    background-color: cyan;
    color: black;
}

tr.oddRow{
    background-color: darkcyan;
    color: white;
}

#AccuWeatherLogo{
    max-width: 100px;
}