section#routeSection{
    display: none;
}

body{
    background-color: chartreuse;
}

form{
    border: thick;
    border-radius: 13%;
    /* border-width: ; */
    background-color: green;
    max-width: 80%;
    margin: auto;
    padding: 10px;
}